Reminder
Notification_Text
Notification_Sound
Notification_Image
Overview
"Text "
Image
Date
Colours
"Choose colours"
"Fridge contains"
"Muliple Fridges"
"Differentiation of kinds"
Cookbook
"Own Recipes"
"Import Cookbook"
"Cookbook reverse"
"Shopping List"
"API to Foodsharing"
"Sync Fridge"
"Sync Shopping List"
"Sync Cookbook"
